<div class="row">
  <div *ngIf="recipes?.length > 0" class="cb-cards col-12">
    <div *ngFor="let recipe of recipes" class="card">
      <div class="cb-img" [ngStyle]="{'background-image': 'url(' + recipe.photoURL +')'}"></div>
      <div class="card-img-overlay">
        <app-circle-button [recipeId]="recipe.id" iconType="fas fa-bookmark"></app-circle-button>
        <div class="cb-circle-button">
          <a><i class="fas fa-calculator"></i></a>
        </div>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">
          <a [routerLink]="['/recipe-detail', recipe.id]" class="stretched-link">
            {{recipe.name}}
          </a>
        </h5>
        <p class="card-text">{{recipe.description}}</p>
      </div>
    </div>
  </div>
</div>
