<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkred">
  <div class="container">
    
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">My Cookbook</a>
    
    <!-- Toggler -->
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsable items -->
    <div class="collapse navbar-collapse" id="collapsibleNavId">

      <!-- Recipes list -->
      <ul class="navbar-nav mt-2 mt-md-0 mr-md-2">
        <li class="nav-item"><a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
      </ul>

      <!-- Search -->
      <form class="form-inline mr-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <div *ngIf="auth.user$ | async; then authenticated else guest">
      </div>
      
      <ng-template #authenticated>
        <ul class="navbar-nav mt-2 mt-md-0">
          <li class="nav-item"><a class="nav-link" routerLink="/add-recipe" routerLinkActive="active">Upload</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favorites</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="profile">
              <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">My Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="auth.logout()">Logout</a>
            </div>
          </li>
        </ul>
      </ng-template>

      <ng-template #guest>
        <ul class="navbar-nav mt-2 mt-md-0 hideOnSmall">
          <li class="mt-2 mt-md-0 nav-item">
            <a class="btn btn-light" data-toggle="modal" data-target="#registerModal">Register</a>
          </li>
          <li class="mt-2 mt-md-0 ml-md-2 nav-item">
            <a class="loginButton btn btn-outline-light" data-toggle="modal" data-target="#loginModal">Log in</a>
          </li>
        </ul>

        <ul class="navbar-nav mt-2 mt-md-0 showOnSmall">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#registerModal">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#loginModal">Log in</a>
          </li>
        </ul>
      </ng-template>

    </div>

  </div>
</nav>
  
<!-- Register Modal -->
<div class="modal fade" id="registerModal" data-backdrop="static" tabindex="-1" aria-labelledby="registerModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="registerModalCenterTitle">Create an account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="regForm.reset(); resetRegError()" #closeRegModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div [hidden]="hideRegError" class="alert alert-danger">
            {{regError}}
        </div>
        <form (ngSubmit)="onSubmitReg()"  #regForm="ngForm" id="register">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
             required
             [(ngModel)]="regData.username" name="username"
             #username="ngModel">
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                Username is required
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com"
            required
            [(ngModel)]="regData.email" name="email"
            #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              Email is required
            </div> 
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass"
            required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            [(ngModel)]="regData.password" name="password"
            #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required"> Password is required </div>
              <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters</div>
            </div>
          </div>
          <div class="form-group">
            <label for="passConf">Confirm Password</label>
            <input type="password" class="form-control" id="passConf"
            required pattern="{{ password.value }}"
            [(ngModel)]="regData.confPassword" name="confPassword"
            #passwordConf="ngModel">
            <div *ngIf="passwordConf.invalid && (passwordConf.dirty || passwordConf.touched)" class="alert alert-danger">
              <div *ngIf="passwordConf.errors.required"> Confirm password is required </div>
              <div *ngIf="passwordConf.errors.pattern"> Password & Confirm Password does not match</div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" form="register" class="btn btn-primary" [disabled]="!regForm.form.valid">Create account</button>
      </div>

    </div>
  </div>
</div>

<!-- Log in Modal -->
<div class="modal fade" id="loginModal" data-backdrop="static" tabindex="-1" aria-labelledby="loginModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="loginModalCenterTitle">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="loginForm.reset(); resetLoginError()" #closeLoginModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div [hidden]="hideLoginError" class="alert alert-danger">
            {{loginError}}
        </div>
        <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm" id="login">
          <div class="form-group">
            <label for="emailLogin">Email address</label>
            <input type="email" class="form-control" id="emailLogin" placeholder="name@example.com"
            required
            [(ngModel)]="loginData.email" name="emialLogin"
            #emailLogin="ngModel">
            <div [hidden]="emailLogin.valid || emailLogin.pristine" class="alert alert-danger">
              Email is missing
            </div>
          </div>
          <div class="form-group">
            <label for="passInput2">Password</label>
            <input type="password" class="form-control" id="passInput2"
            required
            [(ngModel)]="loginData.password" name="passwordLogin"
            #passwordLogin="ngModel">
            <div [hidden]="passwordLogin.valid || passwordLogin.pristine" class="alert alert-danger">
              Password is missing
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" form="login" class="btn btn-primary" [disabled]="!loginForm.form.valid">Log in</button>
      </div>

    </div>
  </div>
</div>