/* Sizing top image */
.cb-img-container {
  width: 100%;
  padding-bottom: 70%;
  position: relative;
}

.cb-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 2rem;
}


/* Circle buttons */
.cb-circle-button{
  position: relative;
  float: right;
  z-index: 2;
  background-color: black;
  border-radius: 50%;
  transition: .2s ease;
  margin-left: 20px;
}

.cb-circle-button a{
  color: lightcoral;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  transition: .2s ease;
}

.cb-circle-button a:hover,.cb-circle-button a:active{
  color: black;
  text-decoration: none;
}

.cb-circle-button:hover{
  background-color: lightcoral;
}

/* Rating */
.cb-rating {
  font-size: 1.5rem;
  display: inline;
}

.fa-star.checked {
  color: lightcoral;
}

/* Stats cards */
.cb-stats-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cb-stats-card {
  background: lightcoral;
  box-shadow: gray 0 0 10px;
  transition: .3s ease;
  margin: 1rem auto;
  width: 10rem;
  height: 5rem;

  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0;
}

.cb-stats-card:hover {
  background: black;
  color: lightcoral;
}

.cb-stats-card i, .cb-stats-name, .cb-stats-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cb-stats-card i{
  grid-row-start: 1;
  grid-row-end: 3;
}

.cb-stats-name {
  font-size: 1rem;
  font-weight: 400;
}

.cb-stats-value {
  font-size: 1.25rem;
  font-weight: 600;
  align-items: flex-start;
}