<div *ngIf="recipe$ | async as recipe" class="container">
  <div class="row">
    <div class="col-12">
      <h2>{{recipe.name}} </h2>
    </div>
  </div>

  <div class="row">
    <!-- Picture -->
    <div class="col-md-6">
      <div class="cb-img-container">
        <div class="cb-img" [ngStyle]="{'background-image': 'url(' + recipe.photoURL +')'}">
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-bookmark"></i></a>
          </div>
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-calculator"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Kid info -->
    <div class="col-md-6">

      <p>User:</p>
      <p>Date:</p>
      <div class="row">
        <div class="col-4">Difficulty</div>
        <div class="col-4">Time</div>
        <div class="col-4">Price</div>
      </div>
      <p>Rating</p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Ingredients</h2>
    </div>
    <div class="col-md-6">
      <h2>Method</h2>
    </div>
  </div>

  <div class="row">
    <div class="c0l-12">
      <h3>Categories</h3>
    </div>
  </div>
</div>