<div *ngIf="recipe$ | async as recipe" class="container">
  
  <div class="row">
    <div class="col-12">
      <div class="row mt-4 d-flex d-lg-block">

        <!-- Picture -->
        <div class="col-lg-6 order-1 float-left">
          <div class="cb-img-container">
            <div class="cb-img" [ngStyle]="{'background-image': 'url(' + recipe.photoURL +')'}">
              <app-circle-button [recipeId]="recipeID" iconType="fas fa-bookmark"></app-circle-button>
              <div class="cb-circle-button">
                <a href="#"><i class="fas fa-calculator"></i></a>
              </div>
            </div>
          </div>
        </div>  

        <!-- Title -->
        <div class="col-lg-6 order-0 float-left">
          <div class="row">
            <div class="col-12">
              <h2 class="mt-0">{{recipe.name}} </h2>
            </div>
          </div>
      
          <div class="row">
            <div class="col-12">
              <p class="lead"> {{recipe.description}}</p>
            </div>
          </div>
      
          <div class="row">
            <div class="col-6">
              <div *ngIf="user$ | async as user">
                <p>Recipe by: {{user.displayName}}</p>
              </div>
            </div>
            <div class="col-6">
              <p>Date: {{recipe.date.toDate() | date}}</p>
            </div>
          </div>
        </div> 

        <!-- Basic Data -->
        <div class="col-lg-6 order-1 float-left">

          <div class="row">
            <div class="col-12 mt-4 mb-2">
              <div class="cb-rating">Rating: </div>
              <star-rating-control class="cb-rating-stars" [labelText]="ratingLabel" labelPosition="right"
                           starType="svg" size="large" speed="immediately" staticColor="default"
                           [step]="0.5" [showHalfStars]="true" [hoverEnabled]="true"
                           (starClickChange)="addRating($event)" [formControl]="myRatingControl"></star-rating-control>
            </div>
          </div>

          <div class="cb-stats-cards mt-2 mt-lg-3">
            <div class="cb-stats-card mt-1">
              <i class="fas fa-utensil-spoon fa-2x"></i>
              <span class="cb-stats-name">Difficulty</span>
              <span class="cb-stats-value">{{recipe.difficulty}} </span>
            </div>
            <div class="cb-stats-card mt-1">
              <i class="fas fa-stopwatch fa-2x"></i>
              <span class="cb-stats-name">Time</span>
              <span class="cb-stats-value">{{recipe.time}} min</span>
            </div>
            <div class="cb-stats-card mt-1">
              <i class="fas fa-wallet fa-2x"></i>
              <span class="cb-stats-name">Price</span>
              <span class="cb-stats-value">{{recipe.price}} </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Ingredients -->
    <div class="col-md-4">
      <form class="form-inline my-4">
        <h4>Ingredients for </h4>
        <input type="number" [min]="recipe.serves" [step]="recipe.serves" id="serves" class="form-control mx-2"
               [(ngModel)]="currentRecipe.serves" name="serves" onkeydown="return false">
        <h4> serves</h4>
      </form>
      <div class="cb-ingredients">

        <div *ngFor="let ingredient of recipe.ingredients; index as i"
              class="cb-ingredient d-flex py-2"
              (click)="toggleClass($event,'cb-checked')">

          <div>
            <div class="cb-bullet mx-2 my-2">
            </div>
          </div>

          <div class="flex-grow-1 d-flex align-items-center">
            <p class="cb-ingredient-item">
              {{ingredient.quantity*currentRecipe.serves/recipe.serves}} {{ingredient.unit}} {{ingredient.name}}
            </p>
          </div>

        </div>

      </div>
    </div>
    <!-- Method -->
    <div class="col-md-8">
      <h3 class="my-4">Method</h3>
      <div class="cb-steps">

        <div *ngFor="let step of recipe.steps; index as i"
              class="cb-step d-flex my-1 pt-3"
              (click)="toggleClass($event,'cb-checked')">
              
          <div>
            <div class="cb-scene mx-2 mx-md-4">
              <div class="cb-checkbox">
                <div class="cb-checkbox-face cb-checkbox-front">
                  <p class="cb-active">{{i+1}}</p>
                </div>
                <div class="cb-checkbox-face cb-checkbox-back">
                  <i class="fas fa-check cb-done"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="flex-grow-1">
            <p class="cb-step-desc"> {{step.description}} </p>
          </div>

          <div class="mx-md-4">
            <div class="cb-step-stats ml-lg-4">
              <i class="fas fa-stopwatch fa-2x"></i>
              <span> {{step.time}} min</span>
              <div *ngIf="step.active; else passiveStep" class="cb-activity">
                Active
              </div>
              <ng-template #passiveStep>
                <div class="cb-activity">Passive</div> 
              </ng-template>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <!-- Categories -->
    <div class="col-12 mt-4 mb-4 cb-categories">
      <div *ngFor="let course of recipe.categories.courses" class="cb-category cb-course">
        {{course}}
      </div>
      <div *ngFor="let occasion of recipe.categories.occasions" class="cb-category cb-occasion">
        {{occasion}}
      </div>
      <div *ngFor="let cuisine of recipe.categories.cuisines" class="cb-category cb-cuisine">
        {{cuisine}}
      </div>
      <div *ngFor="let special of recipe.categories.specialDiets" class="cb-category cb-special">
        {{special}}
      </div>
    </div>

  </div>
</div>