/* Selectors */
.cb-selector {
  display: grid;
  grid-template-columns: 10rem auto;
  grid-column-gap: 0;
}


/* Categories */

.cb-categories {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cb-category{
  padding: 10px 16px;
  border-radius: 25px;
  margin: 0 15px 15px 15px;

  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cb-category:hover {
  cursor: pointer;
}

.cb-close{
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 10px;
  line-height: 1;
}

.cb-course {
  background: #c03d5a;
  color: white;
}
.cb-course:hover {
  background: #993148;
}

.cb-occasion {
  background: #119DA4;
  color: white;
}
.cb-occasion:hover {
  background: #0C747A;
}

.cb-cuisine {
  background: #19647E;
  color: white;
}
.cb-cuisine:hover {
  background: #124962;
}

.cb-special {
  background: #FFC857;
  color: black;
}
.cb-special:hover {
  background: #D5A046;
}