<div class="body">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-5 cb-title">Add new recipe</h2>
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

        <!-- Basic Info and Picture-->
        <div class="row">
          <div class="col-lg-6 order-lg-1 order-2 mt-5">
            <div class="cb-soft-card">
              <div class="cb-soft-card-title">
                Picture
              </div>
              <div class="form-group">
                <label for="input-image">
                  <img class="img-fluid cb-soft-img" [src]="imagePreview">
                </label>
                <input type="file" accept="image/*" id="input-image"
                       class="form-control-file border mt-3"
                       required (change)="changeFile($event)">
              </div>
            </div>
          </div>
          <div class="col-lg-6 order-lg-2 order-1 mt-5">
            <div class="cb-soft-card">
              <div class="cb-soft-card-title">
                Basic data
              </div>
              <div class="form-group">
                <label for="name">Name of the recipe</label>
                <input type="text" class="form-control cb-soft-field" id="name" formControlName="name" required>
              </div>
              <div class="form-group">
                <label for="desc">Short description</label>
                <textarea class="form-control cb-soft-field" id="desc" formControlName="description" rows="2"
                          maxlength="100" required>
                </textarea>
                <small class="form-text text-muted">You can use up to 100 characters!</small>
              </div>
            </div>
          </div>
        </div>

        <!-- Stats -->
        <div class="row mt-5 cb-soft-card">
          <div class="col-12">
            <div class="cb-soft-card-title">
              Stats
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="serves">Serves (person)</label>
              <input type="number" min="1" step="1" class="form-control cb-soft-field" id="serves" formControlName="serves" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="time">Preparation time (minutes)</label>
              <input type="number" min="15" step="15" class="form-control cb-soft-field" id="time" formControlName="time" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="price">Price</label>
              <select class="form-control" id="price" formControlName="price" required>
                <option>Inexpensive </option>
                <option>Average</option>
                <option>Costly</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="difficulty">Difficulty</label>
              <select class="form-control" id="difficulty" formControlName="difficulty" required>
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Ingredients -->
        <div formArrayName="ingredients" class="row mt-5 cb-soft-card">
          <div class="col-12">
            <div class="cb-soft-card-title">
              Ingredients
            </div>
          </div>

          <div *ngFor="let ingredient of ingredients.controls; let i=index" class="col-12">
            <div [formGroupName]="i" class="cb-soft-li">
              <div class="row">
                <div class="col-md-2 form-group">
                  <input type="number" placeholder="Quantity" min="0" class="form-control" formControlName="quantity" required>
                </div>
                <div class="col-md-2 form-group">
                  <input type="text" placeholder="Unit" class="form-control" formControlName="unit">
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" placeholder="Name" class="form-control" formControlName="name" required>
                </div>
                <div class="col-md-2 form-group">
                  <button class="btn cb-soft-btn cb-del-btn" (click)="removeIngredient(i)">Remove</button>
                </div>
              </div>       
            </div>
          </div>

          <div class="col-12">
            <div class="form-group mb-0">
              <button type="button" class="btn cb-soft-btn cb-add-btn" (click)="addIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>

        <!-- Steps -->
        <div formArrayName="steps" class="row mt-5 cb-soft-card">
          <div class="col-12">
            <div class="cb-soft-card-title">
                Steps
            </div>
          </div>

          <div *ngFor="let step of steps.controls; let i=index" class="col-12">
            <div [formGroupName]="i" class="cb-soft-li">
              <div class="row">
                <div class="col-12 form-group">
                  <textarea class="form-control" placeholder="Description" formControlName="description" rows="3" required></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 form-group">
                  <input type="number" placeholder="Time (minutes)" min="5" step="5" class="form-control" formControlName="time" required>
                </div>
                <div class="col-md-5 form-group">
                  <select class="form-control" placeholder="activity type" formControlName="active" required>
                    <option [ngValue]="true">Active</option>
                    <option [ngValue]="false">Passive</option>
                  </select>
                </div>
                <div class="col-md-2 form-group">
                  <button class="btn cb-soft-btn cb-del-btn" (click)="removeStep(i)">Remove</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <button type="button" class="btn cb-soft-btn cb-add-btn" (click)="addStep()">Add Step</button>
            </div>
          </div>
        </div>

         <!-- Categories -->
        <div class="row mt-5 cb-soft-card">
          <div class="col-12">
            <div class="cb-soft-card-title">
              Categories
            </div>
          </div>
          
          <app-category-selector class="col-12"
                                 [(selectedCourses)]="selectedCourses" 
                                 [(selectedCuisines)]="selectedCuisines"
                                 [(selectedOccasions)]="selectedOccasions"
                                 [(selectedSpecials)]="selectedSpecials">
          </app-category-selector>

        </div>

        <button class="btn my-5 cb-soft-btn cb-submit-btn" type="submit" [disabled]="!recipeForm.valid">Submit</button>

      </form>
    </div>
  </div>
</div>
</div>
