<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h3 class="display-4 my-4">Your Profile</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- USER INFO -->
      <div class="row">
        <label class="col-3 cb-right"><strong>Name:</strong></label>
        <div class="col-9">
          <p> {{user?.displayName}} </p>
        </div>
      </div>
      <div class="row">
        <label class="col-3 cb-right"><strong>Email:</strong></label>
        <div class="col-9">
          <p> {{user?.email}} </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- FIREBASE FUNCTIONS -->
      <button type="submit" class="btn cb-soft-btn cb-add-btn" (click)="verifyEmail()">Verify Email</button>
      <button type="submit" class="btn cb-soft-btn cb-del-btn" (click)="deleteProfile()">Delete Profile</button>
    </div>
  </div>
</div>
