<!-- BACKGROUND IMAGE -->
<div class="cb-top-bg"></div>

<div class="container-fluid">

  <!-- HEADER BLOCK -->
  <div class="row cb-intro">
    <!-- LOGO -->
    <div class="col-md-6 cb-logo">
      <img src="assets/images/cookbook.png" class="cb-logo-img">
    </div>
    <!-- TITLE -->
    <div class="col-md-6 cb-title">
      <h1 class="cb-title-text">Cookbook</h1>
      <p class="cb-intro-text">Lorem ipsum dolor sit amet, pri in noster propriae adolescens,
         qui volumus nostrum instructior ut, eam et quis iisque. Per ad 
         facete latine reprimique. Id integre impedit tibique pro. Ius 
         id mutat civibus pertinax.</p>
      <button type="button" class="cb-cta" (click)="openReg()">Register Now</button>
    </div>
  </div>

  <!-- FEATURES FOR USERS -->
  <div class="row cb-features text-center">
    <div class="col-12">
      <h1 class="display-4 cb-features-title">Available features for registered users</h1>
    </div>
    <div class="col-12 col-sm-6 col-md-4 cb-feature">
      <div class="cb-icon">
        <i class="fas fa-bookmark fa-4x"></i>
      </div>
			<h3>Save favorites</h3>
			<p>Lorem ipsum dolor sit amet, pri in noster propriae adolescens,
        qui volumus nostrum instructior ut, eam et quis iisque. Per ad 
        facete latine reprimique.</p>
		</div>
		<div class="col-12 col-sm-6 col-md-4 cb-feature">
      <div class="cb-icon">
        <i class="fas fa-star fa-4x"></i>
      </div>
			<h3>Rate recipes</h3>
			<p>Lorem ipsum dolor sit amet, pri in noster propriae adolescens,
        qui volumus nostrum instructior ut, eam et quis iisque. Per ad 
        facete latine reprimique.</p>
		</div>
		<div class="col-md-4 cb-feature">
      <div class="cb-icon">
        <i class="fas fa-file-upload fa-4x"></i>
      </div>
			<h3>Upload new recipes</h3>
			<p>Lorem ipsum dolor sit amet, pri in noster propriae adolescens,
        qui volumus nostrum instructior ut, eam et quis iisque. Per ad 
        facete latine reprimique.</p>
		</div>
  </div>
  
  <!-- FIVE NEWEST RECIPES -->
  <div class="row cb-top5">
    
  </div>

</div>

<!-- <div class="cb-bottom-bg1"></div> -->

<!-- <div class="cb-bottom-bg2"></div> -->