<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(168, 0, 0)">
  <div class="container">
    
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">My Cookbook</a>
    
    <!-- Toggler -->
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsable items -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">

      <!-- Recipes list -->
      <ul class="navbar-nav mt-2 mt-md-0 mr-md-2">
        <li class="nav-item"><a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
      </ul>

      <!-- Search -->
      <form (ngSubmit)="onSearch()" class="form-inline mr-auto" id="search">
        <div class="input-group">
          <input type="text" class="form-control" name="search" placeholder="Search for category"
                 [(ngModel)]="searchText"
                 [ngbTypeahead]="search"
                 [inputFormatter]="formatter"
                 [resultFormatter]="formatter"
                 [editable]='false' />
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit" form="search">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <div *ngIf="auth.user$ | async as user; else guest">
        <ul class="navbar-nav mt-2 mt-md-0">
          <li class="nav-item"><a class="nav-link" routerLink="/add-recipe" routerLinkActive="active">Upload</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favorites</a></li>
          <!-- <li class="nav-item"><a class="nav-link" routerLink="/calculator" routerLinkActive="active">Calculator</a></li> -->
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown" role="button">
              {{user.displayName}}
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
              <a ngbDropdownItem routerLink="/profile" routerLinkActive="active">My Profile</a>
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem (click)="auth.logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
      
      <ng-template #guest>
        <ul class="navbar-nav mt-2 mt-md-0 hideOnSmall">
          <li class="mt-2 mt-md-0 nav-item">
            <a class="btn btn-light" (click)="openReg()">Register</a>
          </li>
          <li class="mt-2 mt-md-0 ml-md-2 nav-item">
            <a class="loginButton btn btn-outline-light" (click)="openLogin()">Log in</a>
          </li>
        </ul>

        <ul class="navbar-nav mt-2 mt-md-0 showOnSmall">
          <li class="nav-item">
            <a class="nav-link" (click)="openReg()">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openLogin()">Log in</a>
          </li>
        </ul>
      </ng-template>

    </div>

  </div>
</nav>