.nav-link {
  font-size: 1.2rem ;
}

.loginButton {
  color: white;
}

.showOnSmall {
  display: flex;
}

.hideOnSmall {
  display: none;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .showOnSmall {
    display: none;
  }
  
  .hideOnSmall {
    display: flex;
  }
  
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}