<div class="container">
  <div class="row">
    <h3 style="margin-left: 5rem;">Recipes list</h3>
  </div>
  <div class="row">

    <div class="cb-cards col-12">

      <div class="card">
        <div class="cb-img" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0a/2009-09-gulasch-p%C3%B6rk%C3%B6lt-paprikas-3.jpg')"></div>
        <div class="card-img-overlay">
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-bookmark"></i></a>
          </div>
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-calculator"></i></a>
          </div>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">
            <a routerLink="/recipe-detail" class="stretched-link">
              Hortobágyi babgulyás Marika néni módra
            </a>
          </h5>
          <p class="card-text">Quick and easy meal to make.</p>
        </div>
      </div>

      <div class="card">
        <div class="cb-img" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0a/2009-09-gulasch-p%C3%B6rk%C3%B6lt-paprikas-3.jpg')"></div>
        <div class="card-img-overlay">
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-bookmark"></i></a>
          </div>
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-calculator"></i></a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a routerLink="/recipe-detail" class="stretched-link">
              Hortobágyi babgulyás Marika néni módra
            </a>
          </h5>
          <p class="card-text">Quick and easy meal to make. Quick and easy meal to make.</p>
        </div>
      </div>

      <div class="card">
        <div class="cb-img" style="background-image: url('https://thumbs.dreamstime.com/z/looking-up-tall-pine-tree-straight-long-trunk-51942775.jpg')"></div>
        <div class="card-img-overlay">
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-bookmark"></i></a>
          </div>
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-calculator"></i></a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a routerLink="/recipe-detail" class="stretched-link">
              Hortobágyi babgulyás Marika néni módra
            </a>
          </h5>
          <p class="card-text">Quick and easy meal to make.</p>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- <ul>
  <li class="text" *ngFor="let recipe of recipes | async">
    {{recipe.name}}
  </li>
</ul> -->