/* Flexible grid layout */
.cb-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-auto-rows: 30rem;
  grid-gap: 0.5rem;
  justify-content: center;
}

.card {
  margin: auto;
  width: 20rem;
  height: 30rem;
  border: none;
  transition: .3s ease;
}

.card:hover {
  box-shadow: gray 0 0 20px;
}

/* Sizing top image */
.cb-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
}

/* Circle buttons */
.cb-circle-button{
  position: relative;
  float: right;
  z-index: 2;
  background-color: black;
  border-radius: 50%;
  transition: .2s ease;
  margin-left: 20px;
}

.cb-circle-button a{
  color: lightcoral;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  transition: .2s ease;
}

.cb-circle-button a:hover,.cb-circle-button a:active{
  color: black;
  text-decoration: none;
}

.cb-circle-button:hover{
  background-color: lightcoral;
}

/* Stretched link style */
.stretched-link {
  text-decoration: none;
  color: #212529;
}