<div class="container">
  <div class="row">
    <h3 style="margin-left: 5rem;">Recipes list</h3>
  </div>
  <div class="row">

    <div *ngIf="recipes?.length > 0" class="cb-cards col-12">
      <div *ngFor="let recipe of recipes" class="card">
        <div class="cb-img" [ngStyle]="{'background-image': 'url(' + recipe.photoURL +')'}"></div>
        <div class="card-img-overlay">
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-bookmark"></i></a>
          </div>
          <div class="cb-circle-button">
            <a href="#"><i class="fas fa-calculator"></i></a>
          </div>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">
            <a [routerLink]="['/recipe-detail', recipe.id]" class="stretched-link">
              {{recipe.name}}
            </a>
          </h5>
          <p class="card-text">{{recipe.description}}</p>
        </div>
      </div>
    </div>

  </div>
</div>